Flask==0.10.1
Flask-Assets==0.9
Flask-FlatPages==0.5
Frozen-Flask==0.11
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.19
PyYAML==3.11
Werkzeug==0.9.4
cssmin==0.2.0
htmlmin==0.1.5
itsdangerous==0.24
webassets==0.9
wsgiref==0.1.2
