body {
    font-family: Trebuchet, sans-serif;
}

header {
    background-color:#005DAA;
    height:100px;
    position:relative;
}

header div.text {
    color:#FFF;
    padding-top:30px;
    font-size:20px;
}

span.name {
    color: #C2C6D3;
}

header a img {
    float:left;
    padding-top:15px;
    margin-right:15px;
}

h2 {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

section.content div.about p {
    margin-left:20px;
    font-size:1.2em;
}

section.content div.project {
    margin-bottom:20px;
    margin-left:20px;
}

section.content div.project img {
    float:left;
    margin-right:5px;
}

section.content div.project ul li {
    margin-bottom:1px;
}

section.content div.project ul li:last-child {
    margin-top:7px;
}

section.content div.contact div.icons {
    margin-left:20px;
    background-color:#FFF;
}

section.content div.contact img {
    margin-right:10px;
}

@media only screen and (max-device-width: 400px){
    header div.text {
        font-size:13px;
    }
}

div.blog-link {
}

nav a, nav a:visited {
    text-decoration: none;
    color: #000;
}

nav a.active {
    border-bottom: 3px solid black;
}

nav {
    padding-bottom:5px;
}

nav > div.container > div {
    float:right;
}

pre {
    background-color:#EEE;
    margin-left:30px;
    margin-bottom:20px;
    padding:7px;
    font-family: monospace;
    border-radius:4px;
    border: 1px dashed black;
    white-space: pre-wrap;

}

div.post img {
    max-width: 100%;
    height: auto;
}
