<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
    <title>{% block title %}Home{% endblock title %} | {{ config.SITE_NAME }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" media="all" rel="stylesheet" type="text/css" />
    {% endassets %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    {% include "_analytics.html" %}
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <header>
        <div class="container">
            <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo_grey.png') }}" alt="" /></a>
            <div class="text">
                <div>Hello, my name is <span class="name">Ben Doan</span></div>
                <div>I'm a programmer and a student</div>
            </div>
            <div class="blog-link">
            </div>
        </div>
    </header>
    <nav>
        <div class="container">
            <div><a {% if request.path == "/" %}class="active" {% endif %}href="{{ url_for('index') }}">portfolio</a> | <a {% if request.path != "/" %}class="active" {% endif %}href="{{ url_for('blog') }}">blog</a></div>
        </div>
    </nav>

    <div class="container">

        {% block content %}
            <p>Content should be here</p>
        {% endblock %}

    </div>
</body>
</html>
